{
  "$schema": "https://json.schemastore.org/prettierrc",
  "endOfLine": "lf",
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "semi": true
}
